footer p {
    text-align: center;
    color: white;
    margin: 8px 0;
}
.link {
    background-color: black;
    text-align: center;
    padding: 40px;
}
.link .linkk {
    font-size: 1.6rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.link .linkk:hover {
    text-decoration: underline;
}
footer a {
    color: rgb(11, 74, 133);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 768px){
    .link .linkk {
        font-size: 1.1rem;

    }
    .link {
        padding-left: 0;
        padding-right: 0;
    }
}